/* base rules  */

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Nunito' sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c775d;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ser-bg {
  background: #f8f9fa;
}
.pyx {
  padding-top: 80px;
  padding-bottom: 80px;
}
.hire-btn {
  padding: 5px 20px;
  background: #ee8683 !important;
  color: #fff;
}

/* preloader  */
.preloader::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #000;
  transition: 1s;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}
.preloader::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: #000;
  transition: 1s;
}
.preloader.complete:before {
  bottom: -50%;
}
.preloader.complete:after {
  top: -50%;
}
.preloader.complete {
  visibility: hidden;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top: 10px solid #ee8683;
  animation: animate 1.5s infinite linear;
  z-index: 10000;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360%);
  }
}

/* navigation  */
nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: all 0.5s;
}
nav.navbar .navbar-brand {
  color: rgb(31, 106, 167);
}
nav.navbar .navbar-nav .nav-link {
  color: blue !important;
}
nav.r-nav.sticky-add {
  background: rgb(31, 106, 167) !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.5s linear;
}
nav.sticky-add .navbar-brand {
  color: #f8f9fa;
  font-size: 40px;
  transition: all 0.5s;
}
nav.sticky-add .navbar-nav .nav-link {
  color: white !important;
}
nav .navbar-brand {
  font-size: 30px;
  color: #fff;
}
nav .navbar-nav li a {
  color: red !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}
nav .navbar-nav li {
  margin-left: 15px;
}

.navbar .hamburger {
  color: blue;
}
nav.sticky-add .hamburger {
  color: white;
}
/* header section  */
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}
.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 16px 32px;
  transition: all 0.5s linear;
  font-size: 1.5rem;
}
.content-box a:hover {
  color: #000;
  background: #fff;
  transform: scale(1.1);
}
.content-box p {
  color: antiquewhite;
}
/* scroll behavior  */

.about,
.exp-class,
.services-class,
.contact,
.work {
  scroll-margin-top: 4rem;
}

/* about section  */

.about li a {
  color: #000;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  border-radius: 50px;
  list-style: 40px;
  transition: all 0.5s linear;
  text-align: center;
}
.about li a:hover {
  transform: translateY(-50%);
  color: #ee8683;
}
.about li a .icon {
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* skill section  */
.exp-class .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
}
.progres-bar {
  background-color: #ee8683 !important;
}
.exp-class label {
  font-size: 20px;
  margin: 10px;
}

/* services section  */
.card,
.card-header {
  background: #f8f9fa !important;
}
.card-header {
  border: none !important;
}
.services-class .card-header i {
  font-size: 50px;
}
.services-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #ee8683;
}

/* work section  */
.work {
  background: #a9a9af;
}
.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.work-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
/* contact section  */

.contact .contact-icon {
  font-size: 50px;
  text-align: center;
}

/* footer  */
footer {
  height: 200px;
  background: #060713;
}
footer .footer-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}
footer .footer-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: all 0.5s;
}
